/* select {
  --main-text-color: #314386;
  --secondary-text-color: #f4f4f4;
  --h2-font-basic-color: #ff7b01;
  --h2-font-color: #314386;
  --h2-third-color: #f4f4f4;
  --third-text-color: #ce0033;
  --h-main-italic-color: #ff7b01;
  --h-secondary-italic-color: #314386;
  --main-bg-color: #f4f4f4;
  --secondary-bg-color: #dbdbdb;
  --fourth-bg-color: rgba(49, 67, 134, 0.17);
  --third-bg-color: #ff7b01;
  --five-bg-color: #314386;
  --main-border-color: #ff7b01;
  --cta-main-bg-color: #314386;
  --cta-secondary-bg-color: #ff7b01;
  --cta-third-bg-color: #f4f4f4;
  --cta-hover-main-bg-color: #172041;
  --cta-hover-secondary-bg-color: #994900;
  --main-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  --hover-bg-color-mosaic: rgba(155, 60, 50, 0.84);
  --hover-nav-color: #ff7b01;
  --border-radius-30px: 30px;
  visibility: visible;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.666em;
  margin: 0px 6.4vw 0px 0px;
  background-color: white;
  border: none;
  color: var(--main-text-color);
}
.language-selector1 {
  --main-text-color: #314386;
  --secondary-text-color: #f4f4f4;
  --h2-font-basic-color: #ff7b01;
  --h2-font-color: #314386;
  --h2-third-color: #f4f4f4;
  --third-text-color: #ce0033;
  --h-main-italic-color: #ff7b01;
  --h-secondary-italic-color: #314386;
  --main-bg-color: #f4f4f4;
  --secondary-bg-color: #dbdbdb;
  --fourth-bg-color: rgba(49, 67, 134, 0.17);
  --third-bg-color: #ff7b01;
  --five-bg-color: #314386;
  --main-border-color: #ff7b01;
  --cta-main-bg-color: #314386;
  --cta-secondary-bg-color: #ff7b01;
  --cta-third-bg-color: #f4f4f4;
  --cta-hover-main-bg-color: #172041;
  --cta-hover-secondary-bg-color: #994900;
  --main-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  --hover-bg-color-mosaic: rgba(155, 60, 50, 0.84);
  --hover-nav-color: #ff7b01;
  --border-radius-30px: 30px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: var(--main-text-color);
  visibility: visible;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  max-width: 200px;
  align-items: center;
  justify-content: space-between;
}
.header-select {
  --main-text-color: #314386;
  --secondary-text-color: #f4f4f4;
  --h2-font-basic-color: #ff7b01;
  --h2-font-color: #314386;
  --h2-third-color: #f4f4f4;
  --third-text-color: #ce0033;
  --h-main-italic-color: #ff7b01;
  --h-secondary-italic-color: #314386;
  --main-bg-color: #f4f4f4;
  --secondary-bg-color: #dbdbdb;
  --fourth-bg-color: rgba(49, 67, 134, 0.17);
  --third-bg-color: #ff7b01;
  --five-bg-color: #314386;
  --main-border-color: #ff7b01;
  --cta-main-bg-color: #314386;
  --cta-secondary-bg-color: #ff7b01;
  --cta-third-bg-color: #f4f4f4;
  --cta-hover-main-bg-color: #172041;
  --cta-hover-secondary-bg-color: #994900;
  --main-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  --hover-bg-color-mosaic: rgba(155, 60, 50, 0.84);
  --hover-nav-color: #ff7b01;
  --border-radius-30px: 30px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: var(--main-text-color);
  visibility: visible;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin: 13px 0px 14px 0px;
  padding: 0px 22px 0px 22px;
  align-items: center;
}
header {
  --main-text-color: #314386;
  --secondary-text-color: #f4f4f4;
  --h2-font-basic-color: #ff7b01;
  --h2-font-color: #314386;
  --h2-third-color: #f4f4f4;
  --third-text-color: #ce0033;
  --h-main-italic-color: #ff7b01;
  --h-secondary-italic-color: #314386;
  --main-bg-color: #f4f4f4;
  --secondary-bg-color: #dbdbdb;
  --fourth-bg-color: rgba(49, 67, 134, 0.17);
  --third-bg-color: #ff7b01;
  --five-bg-color: #314386;
  --main-border-color: #ff7b01;
  --cta-main-bg-color: #314386;
  --cta-secondary-bg-color: #ff7b01;
  --cta-third-bg-color: #f4f4f4;
  --cta-hover-main-bg-color: #172041;
  --cta-hover-secondary-bg-color: #994900;
  --main-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  --hover-bg-color-mosaic: rgba(155, 60, 50, 0.84);
  --hover-nav-color: #ff7b01;
  --border-radius-30px: 30px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
  top: 0px;
  max-width: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  height: 77px;
  border-bottom: 1px solid #dcdcdc;
  transition: background-color 0.3s;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  display: block;
  transform: translateY(0px);
  visibility: visible;
}
body {
  --main-text-color: #314386;
  --secondary-text-color: #f4f4f4;
  --h2-font-basic-color: #ff7b01;
  --h2-font-color: #314386;
  --h2-third-color: #f4f4f4;
  --third-text-color: #ce0033;
  --h-main-italic-color: #ff7b01;
  --h-secondary-italic-color: #314386;
  --main-bg-color: #f4f4f4;
  --secondary-bg-color: #dbdbdb;
  --fourth-bg-color: rgba(49, 67, 134, 0.17);
  --third-bg-color: #ff7b01;
  --five-bg-color: #314386;
  --main-border-color: #ff7b01;
  --cta-main-bg-color: #314386;
  --cta-secondary-bg-color: #ff7b01;
  --cta-third-bg-color: #f4f4f4;
  --cta-hover-main-bg-color: #172041;
  --cta-hover-secondary-bg-color: #994900;
  --main-font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  --hover-bg-color-mosaic: rgba(155, 60, 50, 0.84);
  --hover-nav-color: #ff7b01;
  --border-radius-30px: 30px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
} */

@media (max-width: 768px) {
  .padding0-50-0-22.hero-padding {
    padding: 74px 22px 74px 22px;
  }
  .m__hero__nav {
    margin: 70px 0px 0px 0px;
    min-height: 276px;
  }
  .m__video__contain__video.margin-top--video {
    margin: 40px 0px 0px 0px;
  }
  .video--shortcode-bg {
    width: 100%;
    max-width: 100%;
  }
  .m__big__contain-cards {
    flex-direction: column;
  }
  .big-cards {
    width: 100%;
    padding: 44px 24px 44px 24px;
  }
  .m_hero2 {
    margin: 70px 0 0 0;
  }
  .scroll-script__nav2.nav-hidden {
    display: block;
    transform: translateY(0px);
    visibility: visible;
  }
  .scroll-script__nav1 {
    display: none;
  }
  .nav-hidden {
    visibility: visible;
  }
  .typo-700-37-53-22-19 {
    font-size: 1.375rem;
    line-height: 1.15em;
  }
  .typo-24-31--14-23 {
    font-size: 0.875rem;
    line-height: 1.6em;
  }
  .m__big__contain {
    margin: 0px auto 51px auto;
  }
  .big-cards__title {
    margin: 0px 0px 22px 0px;
  }
  .padding0-50-0-22.m__big__contain {
    padding: 95px 22px 0px 22px;
  }
  .h2-font-basic.m__projects--title {
    margin: 0px auto 33px auto;
  }
  .m__projects--cards__img {
    width: 100%;
    height: 323px;
  }
  .m__projects--contain {
    padding: 0px 22px 0px 22px;
  }
  .m__projects--cards-padding {
    width: 100%;
    margin: 0px 0px 33px 0px;
    padding: 0px 0px 0px 0px;
  }
  .typo-800-26-33--19-23 {
    font-size: 1.1875rem;
    line-height: 1.21em;
  }
  .m__event {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .m__events__contain {
    margin: 0px 0px 0px 0px;
    padding: 95px 0px 57px 0px;
  }
  .padding-0-38-0-22 {
    padding: 0px 22px 0px 22px;
  }
  .m__events__contain--contain {
    margin: 19px 0px 0px 0px;
    flex-direction: column;
  }
  .m__events__contain--contain--cards {
    padding: 32px 24px 39px 24px;
    flex-direction: column;
  }
  .m--events--img__img {
    display: none;
  }
  .m__events__contain--contain--padding {
    width: 100%;
    margin: 35px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .m--events__cards--contain__ctas {
    margin: 13px 0px 0px 0px;
  }
  .m--events__cards--contain {
    margin: 18px 0 0 0;
  }
  .m__action {
    padding: 11px 28px 27px 11px;
  }
  .m__action--contain-img {
    max-width: 70px;
  }
  .radius-215-0-0-0 {
    border-radius: 45px 0px 0px 0px;
  }
  .m__action--contain-img__img {
    float: none;
    margin: 0px 0 0px 0px;
  }
  .m__action--contain {
    margin: 0px 0px 0px 0vw;
    display: block;
    max-width: 100%;
  }
  .m__action--contain__text {
    margin: 23px 0px 22px 0px;
    display: flex;
    padding: 0px 0px 0px 49px;
  }
  .hide-mobile {
    display: none;
  }
  .m__action--title {
    margin: 0 0 0 3.646vw;
    padding: 8px 0px 0px 0vw;
  }
  .m__action--contain__text1 {
    width: 100%;
    max-width: 100%;
  }
  .m__action--contain__text2 {
    width: 100%;
    margin: 35px 0px 0px 0px;
    max-width: 100%;
  }
  .typo-900-57-74--37-46 {
    font-size: 2.3125rem;
    line-height: 1.24em;
  }
  .typo-900-24-28--20-24 {
    font-size: 1.25rem;
  }
  .m__action--cta {
    margin: 22px 0px 0px 0px;
  }
  .m__action--contain-img.hidden-desktop.test-img {
    float: none;
    margin: 0px 0vw 0px 0px;
  }
  .m__action--title.test-img {
    margin: 0px 0px 0px 3.646vw;
    padding: 0px 0px 0px 0vw;
  }
  .m__action--contain__flex {
    display: flex;
  }
  .m__temoignage--splide {
    margin: 24px 0 0 0;
    max-width: 100%;
  }
  .m__temoignage--contain {
    padding: 80px 11px 57px 11px;
    flex-direction: column;
  }
  .typo-14-17--12-17 {
    font-size: 0.75rem;
    line-height: 1.4em;
  }
  .typo-24-31--16-20 {
    margin: 0 1rem 0 0;
    line-height: 1.25em;
  }
  .m__temoignage__text--arrow {
    margin: 20px 0px 0px 0px;
  }
  .m__temoignage__text {
    max-width: 100%;
  }
  .m__temoignage--splide:before {
    content: none;
  }
  .footer__part2__col1__contain__phone-adress__tel {
    margin: 0px 0px 21px 0px;
  }
}
@media (max-width: 480px) {
  .footer__part3__contain__eco {
    flex-direction: column;
  }
  .footer__part3__contain__eco__text {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }
  .m__image {
    height: 88px;
    max-height: 88px;
  }
}
