.language-selector1 select {
  -webkit-appearance: none; /* Désactive l'apparence native sur iOS */
  appearance: none;
}

.language-selector2 select {
  -webkit-appearance: button;
  appearance: auto;
  background: transparent;
  color: black;
}

.title {
  color: red;
}
